APScheduler==3.6.3
blinker==1.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-APScheduler==1.11.0
Flask-Mail==0.9.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
MarkupSafe==1.1.1
numpy==1.17.4
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
requests==2.22.0
six==1.13.0
tzlocal==2.0.0
urllib3==1.25.6
Werkzeug==0.16.0
