{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}All Symbols{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "container">
{% for symbol in available_symbols %}
<div class = "row">
	<div class = "col-md-8">
	<!-- TradingView Widget BEGIN -->
	<div class="tradingview-widget-container">
	  <div class="tradingview-widget-container__widget"></div>
	  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
	    {{symbol_info[symbol]|safe}}
	  </script>
	</div>
	<!-- TradingView Widget END -->
	</div>
	<div class = "col-md-4">
	<!-- TradingView Widget BEGIN -->
	<div class="tradingview-widget-container">
	  <div class="tradingview-widget-container__widget"></div>
	  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
	  	{{tech_info[symbol]|safe}}
	  </script>
	</div>
	<!-- TradingView Widget END -->
	</div>
</div>
{% endfor %}
</div>
{% endblock %}