{% extends "base.html" %}

{% block app_content %}
<div class = "container">
<fieldset class = "border p-2" style = "background-color:#1e212d;">
  <legend style="font-weight:bold;  width:inherit; padding:0 10px; border-bottom:none;">My Strategies</legend>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Technical Indicator</th>
          <th scope="col">Symbol</th>
          <th scope="col">Frequency</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for idx in range(strategies|length) %}
          <tr>
            <td>{{idx+1}}</td>
            {% for k in ['name','symbol','interim'] %}
              <td>{{strategies[idx][k]}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>
</div>
{% endblock %}